@import "antd/dist/antd.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 10px;
}

.main {
    background-color: white;
    padding: 10px 15px;
}

.no-clients {
    display: flex;
    flex-direction: column;

    .ant-empty {
        margin-top: 15px;
        align-self: center;

        &-description {
            color: #dce0e6;
        }
    }
}

#nest-messages {
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
}

.my-card {
    padding: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 5px;
}

.site-card-wrapper {
    margin-top: 20px;
}